@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Noto Sans TC', sans-serif;
}

body{
  margin: 0;
  padding: 0;
  display: flex;
  background: linear-gradient(150deg, #87faa8, #99b7a7); 
  height: 100vh;
  overflow: hidden; 
}
.container {   
  padding-top: 10px;
  padding-left: 20px;
  text-align: left;   
  font-size: 30px;    
  line-height: 30px; 
  color: #e9f4fb; 
}
.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  background: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0,0,0,0.05);
}
.center h1{
  font-size: 35px;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid silver;
  color: black;
}
.center form{
  padding: 0 40px;
  box-sizing: border-box;
}
form .txt_field{
  position: relative;
  border-bottom: 2px solid #adadad;
  margin: 40px 0;
}
.txt_field input{
  width: 100%;
  padding: 0 5px;
  height: 40px;
  font-size: 20px;
  border: none;
  background: none;
  outline: none;
}
.txt_field label{
  position: absolute;
  top: 50%;
  left: 5px;
  color: #adadad;
  transform: translateY(-50%);
  font-size: 20px;
  pointer-events: none;
  transition: .5s;
}
.txt_field span::before{
  content: '';
  position: absolute;
  top: 40px;
  left: 0;
  width: 0%;
  height: 2px;
  background: #2691d9;
  transition: .5s;
}
.txt_field input:focus ~ label,
.txt_field input:valid ~ label{
  top: -5px;
  color: #2691d9;
}
.txt_field input:focus ~ span::before,
.txt_field input:valid ~ span::before{
  width: 100%;
}
.create{
  width: 100%;
  height: 50px;
  border: 1px solid;
  text-align: center;  
  padding-top: 0.25em;
  background: #30a6ef;  
  border-radius: 10px;
  font-size: 25px;
  color: #e9f4fb;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}
.create:hover{
  transition: .5s;
  background: #3e6bdc;  
}
.create a{
  color: #e9f4fb;
  text-decoration: none;
}
.login_link{
  margin: 20px 0;
  text-align: center;
  font-size: 20px;
  color: #666666;
}
.login_link a{
  color: #2691d9;
  text-decoration: none;
}
.login_link a:hover{
  text-decoration: underline;
}