@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chewy', cursive;
}

body {
    margin: 0;
    padding: 0;
}

.l_container{
    display: flex;
}

.side{
    min-width: 300px;
	height: 200px;
	height: 100%;
	min-height: 100vh;
    background-color: #ffc0cb;
    border-right: 1px solid #e1e1e1;
}

.content {
	width: 100%;
	display: flex;
	padding: 20px 0;
	align-items: center;
	flex-direction: column;
}

.side .header {
	width: 100%;
	height: 7.5vh;
	display: flex;
	align-items: center;
	padding: 0 70px;
}

.side .header .name{
    font-size: 36px;
    color: white;
    filter: drop-shadow(1px 1px 0.5px rgba(105, 105, 105, 0.7));
    text-decoration: none;
}

.side .l_create{
    max-width: 300px;
    height: 3.5vh;
    display: flex;
    font-size: 22px;
}

.side .l_create .l_create_l{
    width: 50%;
    padding: 0 21.5%;
}

.side .l_create .l_create_l a{
    color: black;
}

.side .l_create .l_create_r{
    width: 50%;
    padding: 0 24.5%;
}

.side .l_create .l_create_r a{
    color: black;
}

.side .l_middle{
    max-width: 300px;
    height: 76.5vh;
}

.side .l_middle .title{
	padding: 10px 30px;
	display: flex;
	transition: 0.2s box-shadow;
    align-items: center;
    background-color: #ffc0cb;
    width: 320px;
    height:100px;
    border: transparent;
    margin-left: 0px;
    font-size: 22px;
    font-weight: bold;
}

.side .l_middle .text{
    min-width: 180px;
    padding: 0 10px;
    font-size: 22px;
}

.side .l_middle .icon{
    padding: 0 5px;
}
.side .title:hover {
	box-shadow: 0 0 15px 0 rgba(100, 100, 100, 0.1);
	border-right: 5px solid #2894FF;
}

.side .l_report{
    padding: 5% 30%;
    width: 100%;
    height: 5vh;
    font-size: 26px;
    font-weight: bold;
    display: flex;
    padding-left: 30px;
}

.side .l_report a{
    text-decoration: none;
    color: black;
}


.side .l_bottom{
    width: 100%;
    height: 7.5vh;
    display: flex;
    margin-top: 10px;
}

.side .l_bottom .l_bottom_l{
    width: 50%;
    padding: 5% 10%;
    font-size: 28px;
    color: white;
    filter: drop-shadow(1px 1px 0.5px rgba(105, 105, 105, 0.7));
}
.side .l_bottom .l_bottom_l a{
    text-decoration: none;
    color: black;
}

.side .l_bottom .l_bottom_l a:hover{
    color: white;
}

.side .l_bottom .l_bottom_r{
    width: 50%;
    padding: 5% 10%;
    font-size: 26px;
    color: #0066FF;
    filter: drop-shadow(1px 1px 0.5px rgba(105, 105, 105, 0.7));
}

.side .l_bottom .l_bottom_r a{
    text-decoration: none;
}
.side .l_bottom .l_bottom_r a:link{
    color: #0066FF;
}
.side .l_bottom .l_bottom_r a:visited{
    color: #973e95;
}
.side .l_bottom .l_bottom_r a:hover{
    color: white;
}
.side .l_bottom .l_bottom_r a:active{
    color: black;
}

.r_side{
    width: 100%;
    height: 100vh;
    background-color: #ffeaed;
    overflow-y:auto;
    overflow-x: hidden;
    padding: 30px;
    overflow: hidden;
}

.scrollable-container {
    height: 750px;
    overflow-y: auto;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 20px;    
    margin-bottom: 20px; 
    margin-left: 60px;
}

.grid-item {
    color: #333; 
    font-size: 25px; 
    font-weight: bold;
}

.hr1{
    border: 3px solid #d01e79;
}

.grid-item_1 {
    color: #333; 
    font-size: 25px; 
    font-weight: bold;
    position: relative;
    display: flex;
    align-items: center;
}

.delete-btn {
    background-color: #ff0000;
    color: #fff;
    border: none;
    padding: 5px 10px;
    font-size: 10px;
    cursor: pointer;
}

.add-btn {
    background-color: #ffeaed;
    color: #973e95;
    border: none;
    padding: 8px 12px;
    font-size: 50px;
    cursor: pointer;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px 40px 20px;
    border-radius: 15px;
    width: 80%;
    max-width: 500px;
}

.title {
    margin-top: 0; 
}

.separator {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0; 
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: transparent;
    color: #333;
    border: none;
    font-size: 18px;
    cursor: pointer;
}

.email-input {
    display: block;
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 15px;
}

.submit-btn {
    background-color: #5ecde6;
    color: black;
    font-weight: bold;
    padding: 8px 12px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    display: block;
    margin: 0 auto;
}

.input-block {
    background-color: white;
    padding: 10px;
    margin: -2px;
}

.editable-content {
    width: 100%;
    padding-left: 5px;
    border: none;
    font-size: 30px;
    outline: none;
    word-wrap: break-word;
    min-height: 120px;
}

.button-container {
    display: flex;
    justify-content: flex-end;
    text-align: right;
    max-width: 1600px;
    width: 100%;
    margin-top: 10px;
}

.custom-button {
    background-color: white;
    border: none;
    border-radius: 5px;
    padding: 7px 10px;
    cursor: pointer;
}

.new-container {
    margin-top: 0.5em;
}

.black-line {
    height: 4px;
    background-color: #4947A5;
    margin-top: 20px;
    width: 96%;
    margin-left: 30px;
}

.pink-bg .title {
    background-color: #FF859A;
}

.pink-bg .container {
    border-color: #FF859A;
}

.Lgreen-bg .title {
    background-color: #BBCE6E;
}

.Lgreen-bg .container {
    border-color: #BBCE6E;
}

.Dgreen-bg .title {
    background-color: #89BABA;
}

.Dgreen-bg .container {
    border-color: #89BABA;
}

.r_line {
    height: 4px;
    background-color: #89BABA;
    margin-top: 20px;
    width: 97%;
    margin-left: 20px;
}

.modal{
    margin-top: 14%;
}

.modal-body .create_title{
    padding-top: -1px;
}

.modal-body .create_title p{
    font-size: 18px;
}

.modal-body .text p{
    font-size: 20px;
}

.modal-body form .account{
    margin: 10px 5%;
    width: 90%;
    border-radius: 2em;
}
.modal-body form .password{
    margin: 20px 5%;
    width: 90%;
    border-radius: 2em;
}
.modal-body form{
    justify-content: center;
}

.modal-body form .report{
    margin: 20px 5%;
    width: 90%;
    border-radius: 2em;
}

.modal-body form .btn{
    font-weight: bold;
}