@import url('https://fonts.googleapis.com/css2?family=Chewy&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Chewy', cursive;
}
body {
    margin: 0;
    padding: 0;
}

body::before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../pic/adminbackground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(4px);

}

.topic {
    position: absolute;
    left: 30px;
}

.topic a{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-family: 'Chewy', cursive;
    filter: drop-shadow(1px 1px 0.5px rgba(105, 105, 105, 0.7));
}

.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 600px;
    height: 650px;
    padding:40px 40px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 55px;
    /* 我加了才不會跑版QQ */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-form h1{
    font-size: 64px;
    margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Chewy', cursive;
}

.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
    font-family: 'Chewy', cursive;
    font-size: 40px;
}

.contact-form input{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Chewy', cursive;
}

.contact-form input[type=email],
.contact-form input[type=password]{
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    height: 35px;
    color: black;
    font-size: 32px;
}
.contact-form a {
    float:right;
    margin-bottom: 20px;
    text-decoration: none;
}

.contact-form a p {
    color: gray;
    font-size: 32px;
}

.contact-form button{
    height: 60px;
    border-radius: 16px;
    width: 100%;
    align-items: center;
    border: none;
    background-color: #FFC0CB;
    font-size: 32px;
    color: #fff;
}




