body {
    margin: 0;
    padding: 0;
}

body::before{
    content: '';
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-image: url("../pic/userbackground.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    filter: blur(4px);

}

.topic {
    position: absolute;
    left: 30px;
}

.topic a{
    font-size: 32px;
    color: #fff;
    text-decoration: none;
    font-family: 'Chewy', cursive;
    filter: drop-shadow(1px 1px 0.5px rgba(105, 105, 105, 0.7));
}

.contact-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 550px;
    height: 600px;
    padding:40px 40px;
    background: rgba(255, 255, 255, 0.6);
    border-radius: 55px;
}

.contact-form h1{
    font-size: 64px;
    margin: 0;
    padding: 0 0 20px;
    color: black;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Chewy', cursive;
}

.contact-form p{
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
    font-family: 'Chewy', cursive;
    font-size: 48px;
}

.contact-form input{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Chewy', cursive;
}

.contact-form input[type=name],
.contact-form input[type=email]{
    border: none;
    border-bottom: 2px solid black;
    background: transparent;
    outline: none;
    height: 40px;
    color: black;
    font-size: 36px;
}

.contact-form a {
    float:right;
    margin-bottom: 20px;
    text-decoration: none;
}

.contact-form a p {
    color: gray;
    font-size: 64px;
}

.contact-form input[type=button]{
    height: 80px;
    border-radius: 16px;
    width: 100%;
    align-items: center;
    border: none;
    background-color: #4CA5D8;
    font-size: 32px;
    color: #fff;
}

.contact-form button{
    width: 100%;
    margin-bottom: 20px;
    font-family: 'Chewy', cursive;
    height: 80px;
    border-radius: 16px;
    width: 100%;
    align-items: center;
    border: none;
    background-color: #4CA5D8;
    font-size: 32px;
    color: #fff;
}


