<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminLogin.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topic">
        <a href="homepage.html">MADetect</a>
    </div>
    <div class="contact-form">
        <h1>Administrator</h1>
        <h1>login</h1>
        <form action="">
            <p>Email</p>
            <input type="email" placeholder="Enter Your Email">
            <p>Password</p>
            <input type="password" placeholder="Enter Your Password">
            <a href="adminforgetpsw"><p>forget password?</p></a>
            <input type="button" value="log in">
        </form>
    </div>
</body>
</html>