<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADMIN Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/adminLogin.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#adminlogin-form').submit(function(event) {
                event.preventDefault(); // 阻止表單提交
    
                var email = $('#email').val();
                var password = $('#password').val();
    
                $.ajax({
                    url: '/adminlogin_function',
                    method: 'POST',
                    data: {admin_email: email, admin_password: password},
                    success: function(response) {
                        if (response.success) {
                            // 登入成功，導向內部主頁
                            $('#adminlogin-error').text('');// 清除錯誤訊息
                            window.location.href = "/adminhome";
                        } else {
                            // 登入失敗，顯示錯誤訊息
                            $('#adminlogin-error').text('Invalid email or password');
                        }
                    }
                });
            });
        });
    </script>
</head>
<body>
    <div class="topic">
        <a href="/">MADetect</a>
    </div>
    <div class="contact-form">
        <h1>Administrator</h1>
        <h1>login</h1>
        <form id="adminlogin-form" action="/adminlogin_function" method="post">
            <p>Email</p>
            <input type="email" placeholder="Enter Your Email" required="required" name="admin_email" id="email">
            <p>Password</p>
            <input type="password" placeholder="Enter Your Password" required="required" name="admin_password" id="password">
            <a href="adminforgetpsw"><p>forget password?</p></a>
            <p id="adminlogin-error" style="color: red;"></p>
            <button type="submit">Log in</button>
        </form>
    </div>
</body>
</html>