<!DOCTYPE html>

    <head>
        <meta charset="utf8">
        <title>MADetect home page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">

        <!-- 字體 -->
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">

        <!-- 小圖示 -->
        <script src="https://kit.fontawesome.com/cc70429ece.js" crossorigin="anonymous"></script>

        <!-- Bootstrap導入程式--> 
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    
        <!-- 引入jQuery -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    </head>
    <body >
        
        <div class="l_container" >
            <div class="side">
                <div class="header">
                    <div class="name">
                        <a class="name" href="">MADetect</a>
                    </div>
                </div>
                <div class="l_create">
                    <div class="l_create_l">
                        <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#create" ><i class="fa-regular fa-square-plus"></i></a>
                    </div>
                    <div class="l_create_r">
                        <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#question" ><i class="fa-solid fa-circle-question"></i></a>
                    </div>
                </div>
                <div class="l_middle">
                    <div class="title">
                        <div class="text">減肥</div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#edit" ><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#delete" ><i class="fa-solid fa-trash-can"></i></a> 
                        </div>   
                    </div>
                    <div class="title">
                        <div class="text">痘疤</div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#edit" ><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#delete" ><i class="fa-solid fa-trash-can"></i></a> 
                        </div>   
                    </div>                    <div class="title">
                        <div class="text">雷射治療</div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#edit" ><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#delete" ><i class="fa-solid fa-trash-can"></i></a> 
                        </div>   
                    </div>                    <div class="title">
                        <div class="text">臉部保養</div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#edit" ><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#delete" ><i class="fa-solid fa-trash-can"></i></a> 
                        </div>   
                    </div>                    <div class="title">
                        <div class="text">皮膚炎</div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#edit" ><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#delete" ><i class="fa-solid fa-trash-can"></i></a> 
                        </div>   
                    </div>                    <div class="title">
                        <div class="text">牙周病</div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#edit" ><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#delete" ><i class="fa-solid fa-trash-can"></i></a> 
                        </div>   
                    </div>                    <div class="title">
                        <div class="text">豐胸</div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#edit" ><i class="fa-solid fa-pen-to-square"></i></a>
                        </div>
                        <div class="icon">
                            <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#delete" ><i class="fa-solid fa-trash-can"></i></a> 
                        </div>   
                    </div>                    
                </div>
                <!--問題回報-->
                <div class="l_report">
                    <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#report" >問題回報</a>
                </div>
                <div class="l_bottom">
                    <!--帳號設定-->
                    <div class="l_bottom_l">
                        <a href="#" type="button" data-bs-toggle="modal" data-bs-target="#account" class="l_word">Setting</a>
                    </div>
                    <!--登出-->
                    <div class="l_bottom_r">
                        <a class="r_word" href="/signout">Log Out</a>
                    </div>
                </div>
            </div>
            <!--主功能區-->
            <div class="r_side" >
                <div class="r_container">
                    <div class="title">請輸入廣告詞</div>
                    <div class="input-block">
                      <div id="inputAD" class="editable-content" contenteditable="true" name="input_ad"></div>
                    </div>
                    <div class="button-container">
                      <button title='送出' id="inputADbutton" class="custom-button"onclick="madetect()"><img src="/static/pic/send4.png" width="24px" height="24px"></button>
                    </div>
            </div>
        </div>

        <!--跳出視窗內容 Create -->

        <div class="modal fade" id="create" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <div class="modal-header">
                        <h4 class="modal-title" id="accountModalLabel">新增專案</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
                        <div class="create_title">
                            <p>請輸入要新增的專案名稱</p>
                        </div>
                        <form>
                            <div class="mb-3">
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="from-group text-center">
                                <button type="button" class="btn btn-info " data-bs-dismiss="modal" onclick="addProject() ">新增</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--跳出視窗內容 Question -->
        <div class="modal fade" id="question" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable">
                <div class="modal-content">
    
                    <div class="modal-header">
                        <h4 class="modal-title" id="accountModalLabel">使用說明</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
                        <div class="text">
                            <p>按下 <i class="fa-regular fa-square-plus"></i> 可新增專案<br>按下 <i class="fa-solid fa-pen-to-square"></i> 可修改專案名稱</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!--跳出視窗內容 Edit -->
        <div class="modal fade" id="edit" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
    
                    <div class="modal-header">
                        <h4 class="modal-title" id="accountModalLabel">變更專案名稱</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
    
                    <div class="modal-body">
                        <div class="create_title">
                            <p>請輸入要變更的專案名稱</p>
                        </div>
                        <form>
                            <div class="mb-3">
                                <textarea class="form-control" id="message-text"></textarea>
                            </div>
                            <div class="from-group text-center">
                                <button type="button" class="btn btn-info " data-bs-dismiss="modal">變更</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <!--跳出視窗內容 Account -->

        <div class="modal fade" id="account" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="accountModalLabel">帳戶設定</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <input type="email" class="account form-control" placeholder="Email"  disabled>
                            </div>
                            <div class="form-group">
                                <input type="password" class="password form-control" placeholder="Password" disabled>
                            </div>
                            <div class="from-group text-center">
                                <button type="button" class="btn btn-info " data-bs-toggle="modal" data-bs-target="#changepassword" >變更密碼</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!--跳出視窗內容 Changepassword -->
        <div class="modal fade" id="changepassword" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="accountModalLabel">變更密碼</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form>
                            <div class="form-group">
                                <p>請輸入原本的密碼</p>
                                <input type="password" class="ch_password form-control" id="floatingPassword1">
                                <i id="checkEye1" class="fas fa-eye"></i>
                            </div>                                    
                            <div class="form-group">
                                <p>請輸入要修改的密碼</p>
                                <input type="password" class="ch_password form-control" id="floatingPassword2">
                                <i id="checkEye2" class="fas fa-eye"></i>
                            </div>                                    
                            <div class="form-group">
                                <p>請再次輸入要修改的密碼</p>
                                <input type="password" class="ch_password form-control" id="floatingPassword3">
                                <i id="checkEye3" class="fas fa-eye"></i>
                            </div>
                            <div class="from-group text-center">
                                <button type="button" class="btn btn-info change_btn" data-bs-toggle="modal" data-bs-target="#changepassword" >變更密碼</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>



        <!--跳出視窗內容 Report -->
        <div class="modal fade" id="report" tabindex="-1" aria-labelledby="accountModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">

                    <div class="modal-header">
                        <h4 class="modal-title" id="accountModalLabel">問題回報</h4>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>

                    <div class="modal-body">
                        <form id="reportForm" action="/report" method="post">
                            <div class="mb-3">
                                <textarea class="form-control" id="message-text" name="report"></textarea>
                            </div>
                            <div class="from-group text-center">
                                <button type="submit" class="btn btn-info" >回報</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>


        <script>
            function madetect(){
                var inputAD = document.getElementById("inputAD").textContent;
                var result_law;
                var result_advice;

                let p = new Promise(function(resolve, reject){
                    $.ajax({
                        url: '/madetect',
                        method: 'POST',
                        data: {input_ad: inputAD},
                        success: function(responce){
                            
                            result_law = responce.result_law;
                            result_advice = responce.result_advice;
                            
                            resolve('success');
                        },
                        error: function(error) {
                            // 使用 alert() 函式顯示錯誤訊息
                            console.log('error');
                            reject('fail')
                        }

                    });
                });

                p.then(function(result){
                    console.log(result);
                    addNewElements(result_law, result_advice);
                })
                .catch(function(error){
                    console.log(error);
                    alert('請求失敗，請回報相關問題');
                })
            }

            function madetects(container){
                var inputAD = document.getElementById("inputAD").textContent;
                var result_law;
                var result_advice;

                let p = new Promise(function(resolve, reject){
                    $.ajax({
                        url: '/madetect',
                        method: 'POST',
                        data: {input_ad: inputAD},
                        success: function(responce){
                            
                            result_law = responce.result_law;
                            result_advice = responce.result_advice;
                            
                            resolve('success');
                        },
                        error: function(error) {
                            // 使用 alert() 函式顯示錯誤訊息
                            console.log('error');
                            reject('fail')
                        }

                    });
                });

                p.then(function(result){
                    console.log(result);
                    addNewElementsD(container, result_law, result_advice);
                })
                .catch(function(error){
                    console.log(error);
                    alert('請求失敗，請回報相關問題');
                })
            }


            function addNewElements(result_law, result_advice) {
                var editableContent = document.querySelector('.editable-content');
                var container = document.querySelector('.r_side .r_container');
                var content = editableContent.innerHTML;

                var customButton = document.querySelector('.custom-button');
                customButton.disabled = true;

                var newDivPink = createNewDiv('以下是違反法條：', 'pink-bg', false, result_law);
                var newDivLgreen = createNewDiv('以下是修改後的廣告詞：', 'Lgreen-bg', false, result_advice);
                var newDivBlackLine = createNewBlackLine();
                var newDivDgreen = createNewDiv('請輸入廣告詞', 'Dgreen-bg', true, '');

                container.insertAdjacentElement('afterend', newDivDgreen);
                newDivDgreen.insertAdjacentElement('beforebegin', newDivBlackLine);
                newDivBlackLine.insertAdjacentElement('beforebegin', newDivLgreen);
                newDivLgreen.insertAdjacentElement('beforebegin', newDivPink);

                var buttonContainer = document.createElement('div');
                buttonContainer.classList.add('button-container');
                newDivDgreen.appendChild(buttonContainer);

                var newButton = document.createElement('button');
                newButton.classList.add('custom-button');
                newButton.innerHTML = '<img src="/static/pic/send4.png" width="24px" height="24px" alt="送出">';
                newButton.onclick = function() {
                    madetects(newDivDgreen);
                };

                buttonContainer.appendChild(newButton);

                newDivPink.style.borderColor = window.getComputedStyle(newDivPink.querySelector('.r_side .title')).backgroundColor;
                newDivLgreen.style.borderColor = window.getComputedStyle(newDivLgreen.querySelector('.r_side .title')).backgroundColor;
                newDivDgreen.style.borderColor = window.getComputedStyle(newDivDgreen.querySelector('.r_side .title')).backgroundColor;

                editableContent.innerHTML = content;
                editableContent.setAttribute('contenteditable', 'false');

                newButton.style.width = customButton.offsetWidth + 'px';
                newButton.style.height = customButton.offsetHeight + 'px';
            }

            function addNewElementsD(container, result_law, result_advice) {
                var newDivPink = createNewDiv('以下是違反法條：', 'pink-bg', false, result_law);
                var newDivLgreen = createNewDiv('以下是修改後的廣告詞：', 'Lgreen-bg', false, result_advice);
                var newDivBlackLine = createNewBlackLine();
                var newDivDgreen = createNewDiv('請輸入廣告詞', 'Dgreen-bg', true, '');

                container.insertAdjacentElement('afterend', newDivDgreen);
                newDivDgreen.insertAdjacentElement('beforebegin', newDivBlackLine);
                newDivBlackLine.insertAdjacentElement('beforebegin', newDivLgreen);
                newDivLgreen.insertAdjacentElement('beforebegin', newDivPink);

                var buttonContainer = document.createElement('div');
                buttonContainer.classList.add('button-container');
                newDivDgreen.appendChild(buttonContainer);

                var newButton = document.createElement('button');
                newButton.classList.add('custom-button');
                newButton.innerHTML = '<img src="/static/pic/send4.png" width="24px" height="24px" alt="送出">';
                newButton.onclick = function() {
                    madetects(newDivDgreen);
                };

                buttonContainer.appendChild(newButton);

                newDivPink.style.borderColor = window.getComputedStyle(newDivPink.querySelector('.r_side .title')).backgroundColor;
                newDivLgreen.style.borderColor = window.getComputedStyle(newDivLgreen.querySelector('.r_side .title')).backgroundColor;
                newDivDgreen.style.borderColor = window.getComputedStyle(newDivDgreen.querySelector('.r_side .title')).backgroundColor;

                var customButton = newDivDgreen.querySelector('.custom-button');
                customButton.style.width = container.querySelector('.custom-button').offsetWidth + 'px';
                customButton.style.height = container.querySelector('.custom-button').offsetHeight + 'px';

                var buttonContainerWidth = buttonContainer.offsetWidth;
                newButton.style.marginLeft = buttonContainerWidth - customButton.offsetWidth + 'px';

                var newEditableContentPink = newDivPink.querySelector('.editable-content');
                var newEditableContentLgreen = newDivLgreen.querySelector('.editable-content');
                newEditableContentPink.setAttribute('contenteditable', 'false');
                newEditableContentLgreen.setAttribute('contenteditable', 'false');
            }

            function createNewDiv(titleText, bgColorClass, editable, backendresult) {
                var newDiv = document.createElement('div');
                newDiv.classList.add('r_container', 'new-container', bgColorClass);

                var newTitle = document.createElement('div');
                newTitle.classList.add('title');
                newTitle.innerText = titleText;

                var newInputBlock = document.createElement('div');
                newInputBlock.classList.add('input-block');

                var newEditableContent = document.createElement('div');
                newEditableContent.classList.add('editable-content');
                newEditableContent.setAttribute('contenteditable', editable ? 'true' : 'false');
                

                //違反法條
                if (bgColorClass == 'pink-bg') {
                    // document.getElementById("violetLOW").removeAttribute("id");
                    // newEditableContent.setAttribute('id', 'violetLOW');
                    newEditableContent.innerHTML = backendresult;
                }
                //修改後廣告
                else if (bgColorClass == 'Lgreen-bg') {
                    // document.getElementById("adviceAD").removeAttribute("id");
                    // newEditableContent.setAttribute('id', 'adviceAD');
                    newEditableContent.innerHTML = backendresult;
                }
                //新輸入框
                else {
                    document.getElementById("inputAD").removeAttribute("id");   //清除舊輸入框id
                    newEditableContent.setAttribute('id', 'inputAD');           //新增新輸入框id
                    newEditableContent.setAttribute('name', 'input_ad')
                    newEditableContent.innerHTML = '';
                }

                newInputBlock.appendChild(newEditableContent);
                newDiv.appendChild(newTitle);
                newDiv.appendChild(newInputBlock);

                return newDiv;
            }

            function createNewBlackLine() {
                var newDivBlackLine = document.createElement('div');
                newDivBlackLine.classList.add('black-line');
                return newDivBlackLine;
            }

            //睜眼閉眼
            var checkEye = document.getElementById("checkEye1");
            var floatingPassword =  document.getElementById("floatingPassword1");
            checkEye.addEventListener("click", function(e){
                if(e.target.classList.contains('fa-eye')){
                    //換class 病患 type
                    e.target.classList.remove('fa-eye');
                    e.target.classList.add('fa-eye-slash');
                    floatingPassword1.setAttribute('type','text')
                }else{
                    floatingPassword1.setAttribute('type','password');
                    e.target.classList.remove('fa-eye-slash');
                    e.target.classList.add('fa-eye')
                }
            }); 

            var checkEye = document.getElementById("checkEye2");
            var floatingPassword =  document.getElementById("floatingPassword2");
            checkEye.addEventListener("click", function(e){
                if(e.target.classList.contains('fa-eye')){
                    //換class 病患 type
                    e.target.classList.remove('fa-eye');
                    e.target.classList.add('fa-eye-slash');
                    floatingPassword2.setAttribute('type','text')
                }else{
                    floatingPassword2.setAttribute('type','password');
                    e.target.classList.remove('fa-eye-slash');
                    e.target.classList.add('fa-eye')
                }
            }); 

            var checkEye = document.getElementById("checkEye3");
            var floatingPassword =  document.getElementById("floatingPassword3");
            checkEye.addEventListener("click", function(e){
                if(e.target.classList.contains('fa-eye')){
                    //換class 病患 type
                    e.target.classList.remove('fa-eye');
                    e.target.classList.add('fa-eye-slash');
                    floatingPassword3.setAttribute('type','text')
                }else{
                    floatingPassword3.setAttribute('type','password');
                    e.target.classList.remove('fa-eye-slash');
                    e.target.classList.add('fa-eye')
                }
            });

            // 顯示使用者email函數
            function displayUserEmail() {
                var userEmail = "{{ session['user_email'] }}";
                var emailInput = document.getElementById('email');
                emailInput.value = userEmail;
            }

            // 頁面載入時顯示使用者email
            document.addEventListener("DOMContentLoaded", function() {
                displayUserEmail();
            });

            //攔截表單提交事件
            document.getElementById('reportForm').addEventListener('submit', function (event) {
                event.preventDefault(); // 防止表單的默認提交行為

                var form = event.target;
                var url = form.getAttribute('action');
                var formData = new FormData(form);

                // 使用fetch API進行非同步表單提交
                fetch(url, {
                    method: 'POST',
                    body: formData
                })
                .then(function (response) {
                    // 處理後端回應
                    if (response.ok) {

                        alert('問題回報成功');
                        // 清空回報內容
                        document.getElementById('message-text').value = '';
                    } else {
                        alert('問題回報失敗，請稍後再試！');
                    }
                })
                .catch(function (error) {
                    // 處理錯誤情況
                    alert('問題回報失敗，請稍後再試！');
                });

            });
        </script>

    </body>
</html>