<!DOCTYPE html>

    <head>
        <meta charset="utf8">
        <title>MADetect home page</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage.css') }}">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    </head>
    <body style="overflow-y:scroll ;">
        <header>
            <div class="header_wrap">
                <div class="header_inner mcontainer">
                    <div class="left_side">
                        <div class="name">
                            <a class="name" href="homepage.html">MADetect</a>
                        </div>
                    </div>
                    <div class="mid_side"></div>
                    <div class="right_side">
                        <div class="header_widgets">
                            <a href="login" class="log_in">Log in</a> 
                            <a href="signup" class="sign_up">Sign Up</a>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <div class="middle">
            <div class="medetect">
                <h1>MADetect</h1>
            </div>
        </div>
        <div class="medical">
            <h3>Medical Ads Detector</h3>
        </div>
        <div class="ads">
            <h4>辨別廣告是否違法、修改違法部分<br>提供一個不違法且吸引人的廣告詞</h4>
            
        </div>  
    </body>