<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADetect Reset Password</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/resetPassword.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#reset-form').submit(function(event) {
                event.preventDefault(); // 阻止表單提交
    
                var password = $('#password').val();
                var confirmPassword = $('#password-confirm').val();
                // if (password.length<8) {
                //     $('#password-error').text('Passwords need 8 characters');
                //     return;
                // 密碼格式確認(還沒弄)}
                if (password !== confirmPassword) {
                    $('#reset_password-error').text('Passwords do not match');
                    return;
                }

    
                // 密碼驗證通過，提交表單
                this.submit();
            });
        });
    </script>
</head>
<body>
    <div class="topic">
        <a href="/">MADetect</a>
    </div>
    <div class="contact-form">
        <h1>Reset Password</h1>
        <form id="reset-form" action="/reset_function"  method="post">
            <p>New Password</p>
            <input type="npassword" required="required" placeholder="Enter Your New Password" name="user_password" id="password">
            <p>Confirm</p>
            <input type="confirm" required="required" placeholder="Enter Your New Password Again" name="user_password_confirm" id="password-confirm">
            <p id="reset_password-error" style="color: red;"></p>
            <br>
            <br>
            <!-- <input type="button" value="Done" onclick="location.href='login'"> -->
            <button>Done</button>
            <input type="button" value="< Back" style="background-color:#FFC0CB" onclick="history.back()">
        </form>
    </div>
</body>
</html>