<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADetect Log In</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/userstyle.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
</head>
<body>
    <div class="topic">
        <h1>MADetect</h1>
    </div>
    <div class="contact-form">
        <h1>Login</h1>
        <form action="/login_function"  method="post">
            <p>Email</p>
            <input type="email" placeholder="Enter Your Email" name="user_email">
            <p>Password</p>
            <input type="password" placeholder="Enter Your Password"  name="user_password">
            <a href="forgetpsw"><p>forget password?</p></a>
            <button>Log in</button>
            <p id="dha">Don't Have Account?</p>
            
        </form>
        <a href="signup"><p id="signup">Sign Up</p></a>
    </div>
</body>
</html>