<!DOCTYPE html>
<html lang="en">
<head> 
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MADetect Sign Up</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/usersign.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chewy&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script>
        $(document).ready(function() {
            $('#email').blur(function() {
                var email = $(this).val();
                $.ajax({
                    url: '/check_email',
                    method: 'POST',
                    data: {email: email},
                    success: function(response) {
                        if (response.exists) {
                            $('#email-error').text('Email already exists');
                            $('#signup-form button').prop('disabled', true); // 禁用提交按鈕
                        } else {
                            $('#email-error').text('');
                            $('#signup-form button').prop('disabled', false); // 啟用提交按鈕
                        }
                    }
                });
            });
    
            $('#signup-form').submit(function(event) {
                event.preventDefault(); // 阻止表單提交
    
                var password = $('#password').val();
                var confirmPassword = $('#password-confirm').val();
                // if (password.length<8) {
                //     $('#password-error').text('Passwords need 8 characters');
                //     return;
                // 密碼格式確認(還沒弄)}
                if (password !== confirmPassword) {
                    $('#confirm_password-error').text('Passwords do not match');
                    return;
                }

    
                // 密碼驗證通過，提交表單
                this.submit();
            });
        });
    </script>
</head>
<body>
    <div class="topic">
        <a href="/">MADetect</a>
    </div>
    <div class="contact-form">
        <h1>Sign Up</h1>

        <form id="signup-form" action="/signup_function" method="post">
            <p>Name</p>
            <input type="name" required="required" placeholder="Enter Your Name" name="user_name">
            <p>Email</p>
            <input type="email" required="required" placeholder="Enter Your Email" name="user_email" id="email">
            <p id="email-error" style="color: red;"></p>
            <p>Password</p>
            <input type="password" required="required" placeholder="Enter Your Password" name="user_password" id="password">
            <!-- <p id="password-error" style="color: red;"></p> -->
            <p>Confirm Password</p>
            <input type="password" required="required" placeholder="Enter Your Password again" name="user_password_confirm" id="password-confirm">
            <p id="confirm_password-error" style="color: red;"></p>
            <button>Sign up</button>
        </form>
        <p id="asu">Already Sign up?</p>
        <a href="/login"><p id="login">Log in</p></a>
    </div>
</body>
</html>